@import 'https://fonts.googleapis.com/css?family=Roboto';


//Font

$bodyFont: "Roboto", "Helvetica Neue", Helvetica, sans-serif;

//Colors


$lightGray: #a4a4a4;
$lightestGray: #f9fbfc;
$darkGreen: #3a5360;
$white: #FFFFFF;
$turqoise: #5de4f0;
$darkturqoise:#00c6e2; 
$blue: #00c1ff;
$darkGray: #2e313b;
$darkestTurqoise: #00bcd6;

$hColor: $darkGray;
$pColor: $lightGray;
$bgColor: $darkGreen;