<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Add-ons</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="full-height" ng-app="app">
    <div ng-controller="ButtonCtrl">
        <section class="app">
            <article class="addons" ng-style="addonsStyle">

                <div class="statusCheck">
                    <span class="checkMark" ng-style="checkMarkStyle">✓</span>
                </div>

                <h2 class="addon-head" ng-style="addonHeadStyle">Add-ons</h2>
                <p class="addon-description" ng-style="addonDesStyle">A collection of add-ons to supercharge your account such as Dropbox, Google Drive + more.</p>

                <div class="slider" ng-style="sliderStyle" ng-app>
                    <div class="button-wrap">
                        <button id="btn" class="enabledButton" ng-click="enableIt()" ng-style="btnStyle">
				  			{{name}}
				  		</button>
                    </div>
                </div>

            </article>
            <article class="installs">
                <div class="install-number">
                    <h3>Number of Installs</h3>
                    <div class="likes" ng-controller="CounterCtrl">
                        <span>{{count}}</span><img src="img/like.png" ng-click="increment()">
                    </div>
                </div>
                <p>Bacon ipsum dolor amet landjaeger alcatra short loin, sirloin tenderloin swine beef frankfurter brisket.</p>
            </article>
        </section>
    </div>

    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>

</html>