
.addons{
	@include transition(1s);
	padding: 30px;
	box-shadow: 0 15px 7.5px -7.5px $lightestGray;
	@include display-flex();
	@include flex-direction(column);
	.statusCheck{
		width: 50px;
		height: 50px;
		border: 1px solid $turqoise;
		border-radius: 100%;
		@include align-self(flex-end);
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);
		span{
			@include transition(1s);
			width: 25px;
			height: 25px;
			@include display-flex();
			@include align-items(center);
			@include justify-content(center);			
			border: 1px solid $blue;
			border-radius: 100%;
			color: $blue;
		}//span
	}//.statusCheck
	.addon-head{
		@include transition(1s);
	}//.addon-head
	.addon-description{
		@include transition(1s);
	}//addon-description
	.slider{
		width: 250px;
		height: 45px;
		background-color: $lightestGray;
		border: 6px solid $lightestGray;
		border-radius: 25px;
		@include transition(1s);
		@include align-self("center");
		.button-wrap{
			position: relative;
			.enabledButton {
				@include transition(1s);
			  	position: absolute;
				width: 120px;
				height: 45px;
				left: 0px;
				color: $white;
				background-color: $darkturqoise;
				box-shadow: none;
				border: none;
				border-radius: 25px;
				font-size: .8em;
				font-weight: bold;
				&:focus{
					outline: none;
				}//.enabledButton:focus
				&:active{
				  	outline: none;
				}//.enabledButton:active
			}//.enabledButton
		}//.button-wrap
	}//.slider
}//.addons
